<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinks</title>
</head>
<body>
<!-- Source Jinja2 from https://ttl255.com/jinja2-tutorial-part-2-loops-and-conditionals/#loops
https://documentation.bloomreach.com/engagement/docs/jinja-syntax-->
    {% set Sinks = dorm_suite[2] %}
    <h1>{{Sinks.area }} </h1>
    <img src="/static/img/sink.JPG" width="500" >
    <p> {{ Sinks.description }} </p>
    <ul>
        <li>Objects: {{ Sinks.objects }} </li>
    </ul>

    <a href="/">Go Back Home</a>
</body>
</html>