<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>About Page</h1>
    <p> hello, this is my COGS18 final project! I'm experimenting with jinja-syntax--, flask, and html</p>
    <p> I've worked with html before but I've really challenged myself this time to incorporate python</p>
    <a href="/">Go Back Home</a>

</body>
</html>



