<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welcome to the Dorm Tour Chatbot</h1>

        <p>Ask me about a room in the dorm!</p>
        <ol>
            <li> What is this about?</li>
            <li> The Kitchen </li>
            <li> The Living Room </li>
        </ol>

    <!-- Chat form -->
     <!-- https://www.w3schools.com/html/html_forms.asp-->
    <form id="chat-form" action="/chat" method="POST">
        <input type="text" name="message" placeholder="Ask me a question...">
        <button type="submit">Send</button>
    </form>
</body>
</html>