<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinks</title>
</head>
<body>
<!-- Source Jinja2 from https://ttl255.com/jinja2-tutorial-part-2-loops-and-conditionals/#loops
https://documentation.bloomreach.com/engagement/docs/jinja-syntax-->
    {% set Room2 = dorm_suite[3] %}
    <h1>{{Room2.area }} </h1>
    <img src="/static/img/room2.JPG" width="300" >
    <p> {{ Room2.description }} </p>
    <ul>
        <li>Objects: {{ Room2.objects }} </li>
    </ul>

    <a href="/">Go Back Home</a>
</body>
</html>